@font-face {
  font-family: 'Avenir-bold';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/AvenirNextCyr-Heavy.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'Avenir-demi';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/AvenirNextCyr-Medium.woff') format('woff'), /* Modern Browsers */
}


@font-face {
  font-family: 'Avenir-medium';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/AvenirNextCyr-Medium.woff') format('woff'), /* Modern Browsers */
}
@font-face {
  font-family: 'Avenir-light';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/AvenirNextCyr-Thin.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/AvenirNextCyr-Regular.woff') format('woff'), /* Modern Browsers */
}
